doctype html
head
  meta(charset="utf-8")
  title ADisON
body
  .website-main-container
    .website-main-container-header
      
      .container
        .row
          .col-md.website-main-block-header
            //- nav.navbar.navbar-expand-lg.navbar-light.bg-light
            nav.navbar.navbar-expand-lg.navbar-dark
              button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                  
                  li.nav-item
                    a.nav-link(href='#home') Home _
                  li.nav-item
                    a.nav-link(href='#news') News _
                  li.nav-item
                    a.nav-link(href='#history') History _
                  li.nav-item
                    a.nav-link(href='#products') Products _
                  li.nav-item
                    a.nav-link(href='#contactus') Contact Us _
                  
              a.navbar-brand(href='#')
                img.img-item.img-fluid(src='/img/logo.png',alt='',style="")
              
          
      .row.website-main-block-video-pmp
        .col-md-6.col-sm
          img.title-img.img-fluid.rounded.mx-auto(src="/img/Video PMP.png")
          p.intro-text
            | ADisON 影音 PMP <br>
            | 以創新吸睛的廣告格式抓住受眾目光 <br>
            | 經由機器學習的演算法 <br>
            | 精準的找到理想客群 <br>
            | 並透過優質的流量幫助您有效的傳達品牌故事 <br>
          
          img.slogan(src="/img/slogan-1.png")
        .col-md-6.col-sm-12
          img.img-fluid.rounded.mx-auto(src="/img/KV.png")
          img.A.img-fluid.rounded.mx-auto(src="/img/A (1).png")
          

  .website-main-container-content
    
    .row.website-main-block-news
      a(name="about")
      .container.d-flex.flex-column
        .row.block-title
          .col-8
            #carouselNews.carousel.slide(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='', alt='First slide')
                |               
                .carousel-item
                  img.d-block.w-100(src='', alt='Second slide')
                |               
                .carousel-item
                  img.d-block.w-100(src='', alt='Third slide')
              |             
              a.carousel-control-prev(href='#carouselNews', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                |               
                span.sr-only Previous
              |             
              a.carousel-control-next(href='#carouselNews', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                |               
                span.sr-only Next

          .col-4

    .website-main-block-history
      .row
        .col-1
        .col-10
          img.desktop.img-fluid.rounded.mx-auto(src="/img/群組 1-2.png")
          img.mobile.img-fluid.rounded.mx-auto(src="/img/history-mobile.png")
        .col-1
          
    .website-main-block-products
      .row
        .col-md-6.col-sm-12
          .intro-block
            img.title-img.img-fluid.rounded.mx-auto(src="/img/Video PMP.png")
            p.intro-text
              | 不斷創新的廣告格式讓您的廣告預算發揮最大價值 <br>
              | 抓住消費者的目光 <br>
              | 成功讓投放效果最佳化 <br>
          
          img.slogan(src="/img/slogan-1.png")
        .col-md-6.col-sm-12
          #carouselProducts.carousel.slide(data-ride='carousel')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='', alt='First slide')
              |               
              .carousel-item
                img.d-block.w-100(src='', alt='Second slide')
              |               
              .carousel-item
                img.d-block.w-100(src='', alt='Third slide')
            |             
            a.carousel-control-prev(href='#carouselProducts', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              |               
              span.sr-only Previous
            |             
            a.carousel-control-next(href='#carouselProducts', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              |               
              span.sr-only Next

    .website-main-block-footer
      //- .container
      //-   .row.d-flex
      //-     .col-md.col-sm-12.block-logo
      //-       a(href='#')
      //-         img.img-item.img-fluid(src='/img/03.png',alt='',style="")
      //-     .col-md.col-sm-12.block-nav
      //-       nav.nav.flex-column.flex-sm-row
      //-         a.flex-sm-fill.text-sm-center.nav-link(href='#about') 願景
      //-         a.flex-sm-fill.text-sm-center.nav-link(href='#tranction') 特色
      //-         //- a.flex-sm-fill.text-sm-center.nav-link(href='#architecture') 架構
      //-         a.flex-sm-fill.text-sm-center.nav-link(href='#timeline') 路線圖
      //-         //- a.flex-sm-fill.text-sm-center.nav-link(href='#sale') 銷售
      //-         a.flex-sm-fill.text-sm-center.nav-link(href='#team') 合作夥伴
      .row
        .col-lg-1.col-12
        .col-lg-8.col-12
          .row
            div.block-list.row.col-lg-3.col-12
              a.col-lg-12.col 精準觸及
              a.col-lg-12.col 案例櫥窗
              a.col-lg-12.col 新聞中心
              a.col-lg-12.col 媒體曝光
            div.block-list.row.col-lg-3.col-12
              a.col-lg-12.col 關於 ADisON
              a.col-lg-12.col Blog
              a.col-lg-12.col 人才招募
              a.col-lg-12.col 聯絡我們
            div.block-list.row.col-lg-6.col-12
              .col-6 <img src="/img/phone.png")> +886 2 2577 5829
              .col-6 <img src="/img/fax.png")> +886 2 2577 5830
              .col-12 <img src="/img/location.png")> 台北巿松山區敦化南路一段 5 號 9F
              .col-12 <img src="/img/mail.png")> ADisON@vm5.com
        .col-lg-3.col-12
          img.title-img.img-fluid.rounded.mx-auto(src="/img/Contact Us.png")
      .row
        .col-12
          hr
          .block-copyright AUG 2018 | Copyright ® 2018 VMFIVE. All rights reserved.

  
